
Data/building_metadata.csv
Data/train.csv
Data/weather_train.csv
train_joined.csv
test.csv
.ipynb_checkpoints/check_test-checkpoint.ipynb
.ipynb_checkpoints/EDA-checkpoint.ipynb
.ipynb_checkpoints/models-checkpoint.ipynb
